In [1]:
import glob
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import datetime

In [2]:
start = datetime.datetime(2010,1,1)#26 day before start year for make indicator
end = datetime.datetime(2020,1,1)

money = 10000
# stocklist = ['AES','EBAY','VRTX','GOOGL','IP','CSCO','UAL','NVR','TPR','BA']
# stocklist = ['AMD','LRCX','KLAC','TGT','CMG','QRVO','CPRT','XRX','AMAT','LDOS']
# stocklist = ['FOSL','ABMD','M','MAC','TRIP','OXY','SWN','OI','GPS']

#uptrend
# stocklist = ['MMM','AAPL','AXP','CSCO','DD','INTC','JNJ','JPM']#2016-2018
# stocklist = ['GE']#2015-2017
# stocklist = ['MSFT']#2017-2019

#sideway
# stocklist = ['KO','BA']#2015-2017
# stocklist = ['CVX','JNJ','JPM','CAT']#2018-2020
# stocklist = ['DIS','IBM','PG','VZ']#2016-2018

#downtrend
# stocklist = ['OI']#2014-2016
# stocklist = ['GPS','SWN']#2015-2017
# stocklist = ['M','TRIP']#2016-2018
# stocklist = ['XOM','GE','MAC','TAP']#2017-2019
# stocklist = ['OXY']#2018-2020

#dowjone
stocklist = ['MMM','AXP','AAPL','BA','CAT','CVX','CSCO','KO','DIS','DD'
             ,'XOM','GE','GS','HD','IBM','INTC','JNJ','JPM','MCD','MRK',
             'MSFT','NKE','PFE','PG','TRV','UNH','VZ','WMT','AMGN','V']

#upsidedown
# stocklist  = ['MMM','AAPL','AXP','CSCO','DD','INTC','JNJ','JPM','GE','MSFT','KO',
#              'BA','KEY','JNJ','JPM','SO','DIS','IBM','PG','PEP','OI','GPS','SWN',
#              'M','GME','XOM','GE','SBUX','TAP','OXY']

In [5]:
#Up Side Down
stocklist =[['MMM',2016,2018],['AAPL',2016,2018],['AXP',2016,2018,],['CSCO',2016,2018],
    ['DD',2016,2018],['V',2016,2018],['JNJ',2016,2018],['JPM',2016,2018],['GE',2015,2017],
    ['MSFT',2017,2019],['KO',2015,2017],['BA',2015,2017],['BANPU.bk',2017,2019],['JNJ',2018,2020],
    ['KKP.bk',2018,2020],['SCB.bk',2017,2019],['DIS',2016,2018],['IBM',2016,2018],['PG',2016,2018],
    ['PEP',2017,2019],['JTS.bk',2017,2019],['GPS',2015,2017],['SWN',2015,2017],['thai.bk',2017,2019],
    ['GME',2018,2020], ['JAS.bk',2017,2019], ['MAC',2017,2019],['TAP',2017,2019],
    ['OXY',2018,2020],['SBUX',2007,2009]]


stocklist = [['MMM', 2015,2020],  #dowjone
             ['AXP', 2015,2020],
             ['AAPL', 2015,2020],
             ['BA', 2015,2020],
             ['CAT', 2015,2020],
             ['CVX', 2015,2020],
             ['CSCO', 2015,2020],
             ['KO',2015,2020],
             ['DIS', 2015,2020],
             ['DD', 2015,2020],
             ['XOM', 2015,2020],
             ['GE', 2015,2020],
             ['GS',2015,2020],
             ['HD', 2015,2020],
             ['IBM', 2015,2020],
             ['INTC',2015,2020],
             ['JNJ', 2015,2020],
             ['JPM', 2015,2020],
             ['MCD', 2015,2020],
             ['MRK', 2015,2020],
             ['MSFT', 2015,2020],
             ['NKE', 2015,2020],
             ['PFE', 2015,2020], #PFE
             ['PG', 2015,2020],
             ['TRV',2015,2020],
             ['UNH', 2015,2020],
             ['VZ', 2015,2020],
             ['WMT', 2015,2020],
             ['RTX',2015,2020],
             ['V',2015,2020]]

# SET50
# stocklist = [['ADVANC.bk',2015,2020],
#              ['AOT.bk',2015,2020],
#              ['BA.bk',2015,2020],
#              ['BANPU.bk',2015,2020],
#              ['BBL.bk',2015,2020],
#              ['BCP.bk',2015,2020],
#              ['BDMS.bk',2015,2020],
#              ['BEC.bk',2015,2020],
#              ['BH.bk',2015,2020],
#              ['BLA.bk',2015,2020],
#              ['BTS.bk',2015,2020],
#              ['CBG.bk',2015,2020],
#              ['CENTEL.bk',2015,2020],
#              ['CK.bk',2015,2020],
#              ['CPALL.bk',2015,2020],
#              ['CPF.bk',2015,2020],
#              ['CPN.bk',2015,2020],
#              ['DELTA.bk',2015,2020],
#              ['DTAC.bk',2015,2020],
#              ['EGCO.bk',2015,2020],
#              ['GLOBAL.bk',2015,2020],
#              ['HMPRO.bk',2015,2020],
#              ['INTUCH.bk',2015,2020],
#              ['IRPC.bk',2015,2020],
#              ['ITD.bk',2015,2020],
#              ['IVL.bk',2015,2020],
#              ['JAS.bk',2015,2020],
#              ['KBANK.bk',2015,2020],
#              ['KTB.bk',2015,2020],
#              ['LH.bk',2015,2020],
#              ['M.bk',2015,2020],
#              ['MINT.bk',2015,2020],
#              ['PS.bk',2015,2020],
#              ['PTT.bk',2015,2020],
#              ['PTTEP.bk',2015,2020],
#              ['RATCH.bk',2015,2020],
#              ['SAWAD.bk',2015,2020],
#              ['SCB.bk',2015,2020],
#              ['SCC.bk',2015,2020],
#              ['SCCC.bk',2015,2020],
#              ['TASCO.bk',2015,2020],
#              ['TCAP.bk',2015,2020],
#              ['TMB.bk',2015,2020],
#              ['TOP.bk',2015,2020],
#              ['TPIPL.bk',2015,2020],
#              ['TRUE.bk',2015,2020],
#              ['TTW.bk',2015,2020],
#              ['TU.bk',2015,2020],
#              ['WHA.bk',2015,2020]]
# stocklist = [['jts.bk',2017,2019]]

In [6]:
al = []
recheck = []
for stock in stocklist:
    start = datetime.datetime(stock[1],1,1)
    end   = datetime.datetime(stock[2],1,1)
    df = web.DataReader(stock[0],'yahoo',start,end)
#     df = df[30:]
    df['rccheck'] = np.log(df['Close'] / df['Close'].shift())
    rcsum = df['rccheck'].sum()
    
    pf = np.exp(np.log(df['Close'].iloc[-1] / df['Close'].iloc[0]))-1

    al.append(pf*100)
#     print((np.exp(rcsum)-1)*100)
    print(stock,pf*100)
print(sum(al)/len(stocklist))

['MMM', 2015, 2020] 7.363674723341607
['AXP', 2015, 2020] 33.80266190753394
['AAPL', 2015, 2020] 166.03551477021927
['BA', 2015, 2020] 150.62318854700942
['CAT', 2015, 2020] 61.346000923562684
['CVX', 2015, 2020] 7.425567666601585
['CSCO', 2015, 2020] 72.39395977921377
['KO', 2015, 2020] 31.09899780623291
['DIS', 2015, 2020] 53.551333617157496
['DD', 2015, 2020] -1.1019578700707244
['XOM', 2015, 2020] -24.5213617277208
['GE', 2015, 2020] -54.07043932934512
['GS', 2015, 2020] 18.62456302104969
['HD', 2015, 2020] 108.04039472540433
['IBM', 2015, 2020] -16.454754895004996
['INTC', 2015, 2020] 64.92145760325174
['JNJ', 2015, 2020] 39.495070807012226
['JPM', 2015, 2020] 122.75485749076563
['MCD', 2015, 2020] 110.8964856418373
['MRK', 2015, 2020] 60.15142715621074
['MSFT', 2015, 2020] 239.50483177185333
['NKE', 2015, 2020] 110.73322090655613
['PFE', 2015, 2020] 25.778495808510304
['PG', 2015, 2020] 37.11714408525491
['TRV', 2015, 2020] 29.381198793049236
['UNH', 2015, 2020] 190.8101905590221
['VZ', 2015, 2020] 31.25267876888511
['WMT', 2015, 2020] 38.379133836268096
['RTX', 2015, 2020] 30.22609280861428
['V', 2015, 2020] 186.6513884799058
64.40703393940608

In [5]:
print(al)

[7.363674723341607, 33.80266190753394, 166.03551477021927, 150.62318854700942, 61.346000923562684, 7.425567666601585, 72.39395977921377, 31.09899780623291, 53.551333617157496, -1.1019578700707244, -24.5213617277208, -54.07043932934512, 18.62456302104969, 108.04039472540433, -16.454754895004996, 64.92145760325174, 39.495070807012226, 122.75485749076563, 110.8964856418373, 60.15142715621074, 239.50483177185333, 110.73322090655613, 25.778495808510304, 37.11714408525491, 29.381198793049236, 190.8101905590221, 31.25267876888511, 38.379133836268096, 0.0, 186.6513884799058]

In [6]:
pf = np.exp(np.log(df['Close'].iloc[-1] / df['Close'].iloc[0]))-1
pf*100

186.6513884799058

In [7]:
aa=[]
for i in stocklist:
    aa.append([i[0],2018,2019])

In [8]:
df

,High,Low,Open,Close,Volume,Adj Close,rccheck
Date,,,,,,,
2014-12-31,66.812500,65.544998,66.370003,65.550003,5904800.0,62.703018,NaN
2015-01-02,66.687500,65.622498,65.845001,66.254997,8389600.0,63.377399,0.010698
2015-01-05,65.875000,64.717499,65.872498,64.792503,12751200.0,61.978432,-0.022321
2015-01-06,65.195000,63.715000,64.947502,64.375000,11070000.0,61.579056,-0.006465
2015-01-07,65.285004,64.362503,64.610001,65.237503,9346800.0,62.404102,0.013309
...,...,...,...,...,...,...,...
2019-12-24,188.020004,186.910004,187.100006,187.570007,2420900.0,186.133530,0.002616
2019-12-26,189.179993,187.699997,187.889999,189.160004,5237000.0,187.711380,0.008441
2019-12-27,189.889999,188.470001,189.740005,189.389999,5448600.0,187.939590,0.001215
2019-12-30,189.479996,187.119995,189.309998,187.830002,4833600.0,186.391541,-0.008271
2019-12-31,188.000000,186.539993,187.059998,187.899994,5273000.0,186.461014,0.000373

In [9]:
al=[]
for stock in stocklist:
    start = datetime.datetime(stock[1],1,1)
    end   = datetime.datetime(stock[2],1,1)
    df = web.DataReader(stock[0],'yahoo',start,end)
    
    df['Return'] = np.log(df['Close'] / df['Close'].shift(1))
    sumReturn = df['Return'].sum()
    
    pl = np.exp(sumReturn) -1

    al.append(round(pl*100,2))
    
    print(stock,round(pl*100,2))
print(round(sum(al)/30,2))

['MMM', 2015, 2020] 7.36
['AXP', 2015, 2020] 33.8
['AAPL', 2015, 2020] 166.04
['BA', 2015, 2020] 150.62
['CAT', 2015, 2020] 61.35
['CVX', 2015, 2020] 7.43
['CSCO', 2015, 2020] 72.39
['KO', 2015, 2020] 31.1
['DIS', 2015, 2020] 53.55
['DD', 2015, 2020] -1.1
['XOM', 2015, 2020] -24.52
['GE', 2015, 2020] -54.07
['GS', 2015, 2020] 18.62
['HD', 2015, 2020] 108.04
['IBM', 2015, 2020] -16.45
['INTC', 2015, 2020] 64.92
['JNJ', 2015, 2020] 39.5
['JPM', 2015, 2020] 122.75
['MCD', 2015, 2020] 110.9
['MRK', 2015, 2020] 60.15
['MSFT', 2015, 2020] 239.5
['NKE', 2015, 2020] 110.73
['PFE', 2015, 2020] 25.78
['PG', 2015, 2020] 37.12
['TRV', 2015, 2020] 29.38
['UNH', 2015, 2020] 190.81
['VZ', 2015, 2020] 31.25
['WMT', 2015, 2020] 38.38
['UTC', 2015, 2020] 0.0
['V', 2015, 2020] 186.65
63.4

In [10]:
stt = []
year = []
for i in stocklist:
    print(i)
    stt.append(i[0])
    year.append([i[1],i[2]])

['MMM', 2015, 2020]
['AXP', 2015, 2020]
['AAPL', 2015, 2020]
['BA', 2015, 2020]
['CAT', 2015, 2020]
['CVX', 2015, 2020]
['CSCO', 2015, 2020]
['KO', 2015, 2020]
['DIS', 2015, 2020]
['DD', 2015, 2020]
['XOM', 2015, 2020]
['GE', 2015, 2020]
['GS', 2015, 2020]
['HD', 2015, 2020]
['IBM', 2015, 2020]
['INTC', 2015, 2020]
['JNJ', 2015, 2020]
['JPM', 2015, 2020]
['MCD', 2015, 2020]
['MRK', 2015, 2020]
['MSFT', 2015, 2020]
['NKE', 2015, 2020]
['PFE', 2015, 2020]
['PG', 2015, 2020]
['TRV', 2015, 2020]
['UNH', 2015, 2020]
['VZ', 2015, 2020]
['WMT', 2015, 2020]
['UTC', 2015, 2020]
['V', 2015, 2020]

In [11]:
data = pd.DataFrame([])
data['Stock'] = stt
data['year'] = year
data['%Profit/Loss'] = al
data.to_csv('BAH.csv',index = False)

In [12]:
# df['Return'] = np.log(df['Close'] / df['Close'].shift(1))

In [13]:
# p = df['Return'].sum()
# r = (np.exp(p) -1)*100